@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =====================
   Global Variables
   ===================== */
:root {
  --font-size-12: 0.745rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.4rem;
  --font-size-25: 1.6rem;
  --font-size-30: 1.875rem;
  --font-size-45: 2.8rem;
  --font-weight-bold: 700;
  --color-gray37: #5e5e5e;
  --color-dark-shade: #2c3e50;
  --color-red: red;
  --color-green: green;
  --color-white: white;
  /*styles for dark theme*/
  --color-black: black;
  --background-color-light-gray: #e0e0e0;
  --background-color-white: white;
  --background-color-black: black;
  --background-linear-gradient1: #f7f9fa;
  --background-linear-gradient2: #e5ebed;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.35);
  --button-background: black; /* background black */
  --button-text-color: white; /*text white */
  /*hover text color for both themes*/
  --button-hover-text-color: white;
}

/*Dark theme */
[data-theme="dark"] {
  --color-black: #ffffff; /*text white*/
  --background-color-light-gray: #2c3e50; /*background dark gray */
  --background-color-white: #000000; /*background black*/
  --background-color-black: #5e5e5e; /*background gray*/
  --background-linear-gradient1: #121212; /*background dark*/
  --background-linear-gradient2: #1c1c1c; /*background dark*/
  --box-shadow-color: rgba(150, 150, 150, 0.2); /*light black shadow*/
  --box-shadow-hover-color: rgba(150, 150, 150, 0.35); /*light black shadow*/
  --button-background: white; /* background white*/
  --button-text-color: black; /*text black*/
}
/*Remove background img dark theme*/
/* [data-theme="dark"] .section-background-img {
  background-image: none; 
} */

/* =====================
   Base/Reset Styles
   ===================== */

* {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  color: var(--color-black); /*White for dark theme*/
}
body {
  margin-right: 20px;
  color: var(--color-black); /*White for dark theme*/
  background-color: var(--background-color-white); /*Black for dark theme*/
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* =====================
   Utility/Helper Styles
   ===================== */
.content-wrapper {
  margin-right: -20px;
  overflow-x: hidden;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 20px 0 20px;
}
h1 {
  margin-top: 200px;
  font-size: var(--font-size-45);
}
h2 {
  margin-top: 150px;
  font-size: var(--font-size-30);
}
h3 {
  font-size: var(--font-size-22);
  margin: 25px 0 25px 0;
  text-align: left;
}
h1,
h2,
h3 {
  font-family: Montserrat, Arial, sans-serif;
}
hr {
  width: 300px;
  border-bottom: 2px solid;
  color: var(--color-gray37);
  margin: 40px auto;
}
.section-background-img {
  background-image: url(/images/background_image.png);
  padding-bottom: 150px;
}

.section-background {
  background: linear-gradient(
    to right,
    var(--background-linear-gradient1),
    var(--background-linear-gradient2),
    var(--background-linear-gradient1)
  );
  padding: 0 20px 200px;
  margin: 0 -20px;
}
/*Background and text color for buttons */
.contact-button,
.submit-button {
  color: var(--button-text-color);
  background-color: var(--button-background);
}
.contact-button:hover,
.submit-button:hover {
  background-color: var(--color-dark-shade);
  color: var(--button-hover-text-color);
}
/*Box shadow*/
button,
.button-container a,
.tech-stack-container li {
  box-shadow: 0 4px 8px var(--box-shadow-color);
}
button:hover,
.button-container a:hover {
  box-shadow: 0 6px 12px var(--box-shadow-hover-color);
}

/*For section 2 and 4*/
.tech-stack-container {
  display: flex;
}
.tech-stack-container li {
  padding: 5px 15px;
  margin: 5px;
  background-color: var(--background-color-light-gray);
  border-radius: 10px;
  font-size: var(--font-size-18);
}

/* Flexbox */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

/* Header */
header {
  font-weight: var(--font-weight-bold);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color-white); /*Black for dark theme*/
  z-index: 10;
  padding-bottom: 15px;
}
.full-name {
  margin:25px;
  font-size: var(--font-size-25);
}
.header-navigation li {
  margin: 30px 5px 10px;
}
.header-navigation a {
  padding: 5px 35px 5px;
  font-size: var(--font-size-22);
  border-radius: 15px;
  transition: background-color 0.2s;
}
.header-navigation a:hover {
  background-color: var(--background-color-light-gray);
}

.header-navigation .corner-li {
  margin-right: 80px;
}

/* hambruger menu */
.menu-icon {
  display: none;
  margin: 20px 25px 0;
  padding: 5px;
  cursor: pointer;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: var(--color-black); /*White for dark theme*/
  margin: 6px 0;
  transition: transform 0.4s, opacity 0.4s;
}
.menu-icon.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}
.menu-icon.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
#menuItems.active {
  max-height: 500px;
}

/* Switch styles */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-dark-shade);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider .label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.slider .label.light {
  color: var(--background-color-black);
}
.slider .label.dark {
  display: none;
}
.slider .label.dark,
.slider .label.light {
  left: -90px;
}

input:checked + .slider .label.light {
  display: none;
}

input:checked + .slider .label.dark {
  display: block;
}

/* =====================
   Section1 HERO 
   ===================== */

.hero-about-paragraph {
  margin-bottom: 60px;
  max-width: 1800px;
  line-height: 1.5;
}
.hero-paragraph {
  font-size: var(--font-size-22);
}
.button-container {
  font-size: var(--font-size-25);
}
.button-container a {
  padding: 10px 50px;
  margin: 0 20px;
  border-radius: 20px;
}
/*Dark theme border*/
[data-theme="dark"] .contact-button,
.project-button {
  border: 2px solid;
}

.project-button:hover {
  background-color: var(--background-color-light-gray);
}

/* =====================
   Section2 and Section3
   ===================== */

.about-paragraph {
  font-size: var(--font-size-18);
  text-align: left;
  width: 90%;
}
.about-text-bold {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.project-container {
  flex-wrap: wrap;
  gap: 100px;
}
.project-card {
  flex: 1;
  max-width: 700px;
}
.project-card img {
  width: 100%;
  height: auto;
  max-height: 600px;
  min-width: 500px;
  border-radius: 15px 15px 0 0;
}
.project-container hr {
  width: 100%;
}
.project-text-header {
  margin-bottom: 50px;
  font-size: var(--font-size-22);
}
.project-text-container {
  flex-grow: 1;
  max-height: 270px;
}
.project-text {
  text-align: left;
  margin-bottom: 10px;
  font-size: var(--font-size-18);
  min-height: 150px;
}
.github-live-link li {
  margin: 5px;
}
.fa-github,
.fa-paperclip,
.fa-linkedin {
  padding: 10px;
  font-size: 35px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover,
.fa-paperclip:hover,
.fa-linkedin:hover {
  transform: scale(1.25);
}

/* =====================
   Section 4
   ===================== */

.form-container {
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-18);
  max-width: 1500px;
  width: 90%;
}
.your-message {
  margin-bottom: 8px;
}
.input-text {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-16);
}
.input-text:focus {
  outline-color: black;
}
.input-textarea {
  height: 130px;
  margin-bottom: 10px;
}
.input-left {
  gap: 10px;
}
.input-left input {
  height: 35px;
}

.input-left,
.input-right {
  width: 48%;
}
.submit-button {
  padding: 5px 40px;
  border-radius: 10px;
  font-size: var(--font-size-22);

  margin-top: 10px;
  align-self: flex-end;
  cursor: pointer;
}
.hidden {
  display: none;
}
.error-message {
  color: var(--color-red);
}
.success-message {
  color: var(--color-green);
}
.form-message {
  font-size: var(--font-size-20);
}
.error-message,
.success-message,
.form-message {
  padding: 10px 0;
}
.contact-links {
  align-items: center;
}

.loader {
  border: 8px solid var(--background-color-black);
  border-top: 8px solid var(--background-color-white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-bottom: 25px;
  display: none;
}

/* =====================
   Footer
   ===================== */

footer {
  margin: 100px -20px 50px;
  color: var(--color-black); /*White for dark theme*/
  padding: 30px;
}
.footer-text {
  font-size: var(--font-size-18);
}

/* tablets and phone */

@media screen and (max-width: 1024px) {
  p {
    margin: 0 10px;
  }
  h3 {
    margin: 25px 10px;
  }
  /*Header*/
  .header-navigation {
    order: 1;
  }
  .menu-icon {
    display: block;
  }
  #menuItems {
    flex-direction: column;
    position: absolute;
    top: 85%;
    width: 100%;
    background-color: var(--background-color-white);
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    text-align: center;
  }
  .header-navigation li {
    margin: 20px 0;
  }
  .header-navigation .corner-li {
    margin: 20px 0 25px 0;
  }

  label.switch {
    order: 3;
  }
  .slider .label.light,
  .slider .label.dark {
    left: 0px;
    bottom: 200px;
    margin-top: 20px;
    font-size: var(--font-size-12);
  }
  /*Section 1*/
  .full-name {
    order: 2;
    margin: 25px 0 0 20px;
  }
}

@media screen and (max-width: 504px) {
  h1 {
    margin-top: 150px;
  }
  h2 {
    margin-top: 100px;
  }
  .tech-stack-container {
    flex-direction: column;
    width: 100%;
  }
  .section-background {
    padding: 0 0 150px;
    margin: 150px 0 0;
  }
  /*Section 1*/
  .full-name {
    font-size: var(--font-size-22);
    text-align: center;
  }
  .button-container {
    font-size: var(--font-size-25);
    flex-direction: column;
    gap: 20px;
  }
  /*Section 3*/
  .project-card img {
    width: 100vw;
    min-width: auto;
  }
  .project-text-container {
    max-height: none;
  }
  .tech-stack-container li {
    text-align: center;
  }
  /*Section 4*/
  .form-container {
    flex-direction: column;
    align-items: center;
    width: 180vw;
    gap: 10px;
  }
  .submit-button {
    align-self: auto;
  }
  .input-right {
    gap: 10px;
  }
  /*Footer*/
  footer {
    margin: 50px 0;
  }
  #copyRight {
    text-align: center;
  }
}
